@media only screen and (min-width: 768px) {
    #wrapper {
        width: 100%;
        background-color: lightblue;
        border: 1px solid blueviolet;
        margin: 0 auto;

    }

    header img{
        width: 100%;
    }


    #addStudent {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #addStudent .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addStudent .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #addStudent .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        margin-left: 5%;
        font-size: 14px;
    }

    #addStudent .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addStudent .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #addStudent .form2 input {
        width: 30%;
        border-radius: 2em;
        margin-left: 5%;
        padding: 1em;
        font-size: 14px;
    }

    #addStudent .form3 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addStudent .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #addStudent .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addStudent .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addStudent .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #addStudent .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        margin-left: 16.5%;
        font-size: 14px;
    }


    #addStudent .form5 {
        width: 100%;
        float: left;
        margin-top: 2%;
        margin-left: 30%;
        margin-bottom: 1%;
    }

    #addStudent .form5 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #addStudent .form5 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }
    /*end of the addStudent form*/

    /*Start of deleteStudent*/
    #deleteStudent {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #deleteStudent .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #deleteStudent .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #deleteStudent .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #deleteStudent .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #deleteStudent .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 17%;
    }

    #deleteStudent .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #deleteStudent .form5 {
        width: 100%;
        float: left;
        margin-top: 2%;
        margin-left: 30%;
        margin-bottom: 1%;
    }

    #deleteStudent .form5 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #deleteStudent .form5 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }


    #updateStudent {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #updateStudent .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateStudent .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #updateStudent .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateStudent .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateStudent .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 2%;
    }

    #updateStudent .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;

        font-size: 14px;
    }


    #updateStudent .form3 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateStudent .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 2%;
    }

    #updateStudent .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateStudent .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateStudent .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 4%;
        margin-right: 2%;
    }

    #updateStudent .form5 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateStudent .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateStudent .form5 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #updateStudent .form5 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateStudent .form6 {
        width: 100%;
        float: left;
        margin-top: 2%;
        margin-left: 30%;
        margin-bottom: 1%;
    }

    #updateStudent .form6 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #updateStudent .form6 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #addMeeting {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #addMeeting .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addMeeting .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #addMeeting .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #addMeeting .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addMeeting .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 15%;
    }

    #addMeeting .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addMeeting .form3 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addMeeting .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 15%;
    }

    #addMeeting .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #addMeeting .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addMeeting .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 5%;
    }

    #addMeeting .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addMeeting  .form5 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #addMeeting  .form5 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #deleteMeeting {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #deleteMeeting .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #deleteMeeting .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #deleteMeeting .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #deleteMeeting   .form5 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #deleteMeeting .form5 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #updateMeeting {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #updateMeeting .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateMeeting .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #updateMeeting .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateMeeting .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateMeeting .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 7%;
        margin-right: 2%;
    }

    #updateMeeting .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateMeeting .form3 {
          width: 100%;
          float: left;
          margin-top: 1%;
      }

    #updateMeeting .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #updateMeeting .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateMeeting .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateMeeting .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #updateMeeting .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #updateMeeting .form5 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateMeeting .form5 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 2%;
    }

    #updateMeeting .form5 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateMeeting .form6 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #updateMeeting .form6 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #addProject {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #addProject .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addProject .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #addProject .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #addProject .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addProject .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 2%;
    }

    #addProject .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addProject .form3 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addProject .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 17%;
        margin-right: 2%;
    }

    #addProject .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addProject .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addProject .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 12%;
        margin-right: 2%;
    }

    #addProject .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addProject .form5 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addProject .form5 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 15%;
        margin-right: 2%;
    }

    #addProject .form5 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addProject .form6 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #addProject .form6 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #removeProject {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #removeProject .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #removeProject .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #removeProject .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #removeProject .form5 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #removeProject .form5 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #updateProject {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #updateProject .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateProject .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #updateProject .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateProject .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateProject .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #updateProject .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateProject .form3 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateProject .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 6%;
        margin-right: 2%;
    }

    #updateProject .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateProject .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateProject .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 13%;
        margin-right: 2%;
    }

    #updateProject .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateProject .form5 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateProject .form5 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 8%;
        margin-right: 2%;
    }

    #updateProject .form5 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateProject .form6 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateProject .form6 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 13%;
        margin-right: 2%;
    }

    #updateProject .form6 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateProject .form7 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #updateProject .form7 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #addFutureMeeting {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #addFutureMeeting .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addFutureMeeting .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #addFutureMeeting .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #addFutureMeeting .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addFutureMeeting .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 15%;
    }

    #addFutureMeeting .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addFutureMeeting .form3 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addFutureMeeting .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 15%;
    }

    #addFutureMeeting .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #addFutureMeeting .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #addFutureMeeting .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 5%;
    }

    #addFutureMeeting .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #addFutureMeeting  .form5 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #addFutureMeeting  .form5 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #deleteFutureMeeting {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #deleteFutureMeeting .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #deleteFutureMeeting .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #deleteFutureMeeting .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #deleteFutureMeeting   .form5 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #deleteFutureMeeting .form5 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #updateFutureMeeting {
        width: 48%;
        border: 1px solid blueviolet;
        border-radius: 2em;
        margin: 1%;
        float: left;
        clear: both;
    }

    #updateFutureMeeting .form1 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateFutureMeeting .form1 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 25%;
        margin-right: 2%;
    }

    #updateFutureMeeting .form1 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateFutureMeeting .form2 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateFutureMeeting .form2 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 7%;
        margin-right: 2%;
    }

    #updateFutureMeeting .form2 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateFutureMeeting .form3 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateFutureMeeting .form3 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #updateFutureMeeting .form3 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateFutureMeeting .form4 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateFutureMeeting .form4 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 20%;
        margin-right: 2%;
    }

    #updateFutureMeeting .form4 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #updateFutureMeeting .form5 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateFutureMeeting .form5 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 2%;
    }

    #updateFutureMeeting .form5 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }

    #updateFutureMeeting .form6 {
        width: 100%;
        float: left;
        margin-top: 1%;
    }

    #updateFutureMeeting .form6 label {
        width: 30%;
        text-align: center;
        font-size: 2em;
        margin-left: 10%;
        margin-right: 2%;
    }

    #updateFutureMeeting .form6 input {
        width: 30%;
        border-radius: 2em;
        padding: 1em;
        font-size: 14px;
    }


    #updateFutureMeeting .form7 input[type = "submit"] {
        width: 20%;
        border-radius: 2em;
        margin-left: 30%;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #updateFutureMeeting .form7 input[type = "reset"] {
        width: 20%;
        border-radius: 2em;
        padding: 2%;
        font-size: 18px;
        font-family: arial, san-seref;
    }

    #displayMeeting {
        width: 47%;
        float: left;
        margin: 1%;
    }

    #displayMeeting table {
        width: 100%;
        border: 1px solid blueviolet;
        border-radius: 1em;
    }

    #displayMeeting th, td{
        border: 1px solid blueviolet;
        border-radius: 2em;
        text-align: center;
    }





    #displayStudent {
        width: 47%;
        float: left;
        margin: 1%;
    }

    #displayStudent table {
        width: 100%;
        border: 1px solid blueviolet;
        border-radius: 1em;
    }

    #displayStudent th, td{
        border: 1px solid blueviolet;
        border-radius: 2em;
        text-align: center;
    }

    footer {
        width: 100%;
        clear: both;
        border: 1px solid blueviolet;
        border-radius: 2em;
        text-align: center;
    }
}


