{% extends '_base.html.twig' %}

{% block main %}
    <!--This is the log out the page-->
    <div id = "logout">
        <a href = "/killSession">Log Out</a>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

    <!--This is the add meeting page-->
    <div id = "addProject">
        <h1>Add Project</h1>

        <form action = "/processAddProject" method="post">

            <span class = "form1">
                <label for="title">Title:</label>
                <input type="text" title="title" name="title"  placeholder="Enter Title of the project" autofocus />
            </span>

            <span class = "form2">
                <label for="description">Description:</label>
                <input type="time" title="description" name="description"  placeholder="Enter Description of the project" autofocus />
            </span>

            <span class = "form3">
                <label for="member">Member:</label>
                <input type = "text" title="member" name = "member"  placeholder="Enter the member is involved" autofocus />
            </span>

            <span class = "form4">
                <label for="supervisor">Supervisor:</label>
                <input type = "text" title="supervisor" name = "supervisor"  placeholder="Enter the member is involved" autofocus />
            </span>

            <span class = "form5">
                <label for="deadline">Deadline:</label>
                <input type="date" title="deadline" name="deadline"  placeholder="Enter dealine of project" autofocus />
            </span>

            <span class = "form6">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </span>
        </form>
    </div>

    <div id = "displayMeeting">
        {% include 'listMeeting.html.twig' %}
    </div>

{% endblock %}