{% extends '_base.html.twig' %}

{% block main %}
    <div id = "logout">
        <a href = "/killSession">Log Out</a>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

    <div id = "addProject">
        <h1>Add Project</h1>

        <form action="/processAddProject" method="post">
             <span class = "form1">
                <label for="title">Title:</label>
                <input type="text" title="title" name="title"  placeholder="Enter Title of the project" autofocus />
            </span>

            <span class = "form2">
                <label for="description">Description:</label>
                <input type="text" title="description" name="description"  placeholder="Enter time of description of the project" autofocus />
            </span>

            <span class = "form3">
                <label for="member">Member:</label>
                <input type="text" title="member" name="member"  placeholder="Enter Member of the project involved" autofocus />
            </span>

            <span class = "form4">
                <label for="supervisor">Supervisor:</label>
                <input type="text" title="supervisor" name="supervisor"  placeholder="Enter Supervisor in the projects" autofocus />
            </span>

            <span class = "form5">
                <label for="deadline">Deadline:</label>
                <input type="date" title="deadline" name="deadline"  placeholder="Enter Supervisor in the projects" autofocus />
            </span>

            <span class = "form5">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </span>
        </form>
    </div>
    <div id = "displayProject">
        {% include 'projectsList.html.twig' %}
    </div>
{% endblock %}