{% block main %}

    <h1>Administrator Navigation Bar</h1>

    <nav>
        <a href="/addStudent">Add Student</a>
        <a href="/removeStudent">Delete Student</a>
        <a href="/updateStudent">Update Student</a>

        <a href="/addMeeting">Add Meeting</a>
        <a href="/removeMeeting">Delete Meeting</a>

        <a href="/updateMeeting">Update Meeting</a>
    </nav>


{% endblock %}