{% block main %}

    <h1>Project Leader Navigation Bar</h1>

    <nav>
        <a href="/addMeeting">Add Meeting</a>
        <a href="/removeMeeting">Delete Meeting</a>
        <a href="/updateMeeting">Update Meeting</a>

        <a href="/addFutureMeeting">Add Future Meeting</a>
        <a href="/removeFutureMeeting">Delete Future Meeting</a>
        <a href="/updateFutureMeeting">Update Future Meeting</a>
    </nav>


{% endblock %}