{% extends '_base.html.twig' %}

{% block main %}
    <!--Welcome page for the user logged in-->
    <p>Welcome {{ username }}</p>

    <!--Killing the session-->
    <a href = "/killSession">Log Out</a>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% include 'footer.html.twig' %}
{% endblock %}