{% extends '_base.html.twig' %}

{% block main %}
    <p>Welcome {{ username }}</p>
    <a href = "/logout">Log Out</a>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}