{% extends '_base.html.twig' %}

{% block main %}

<h1>Process {{ successType }}</h1>
    <p>{{ message }}</p>

    {# Success links back to user CRUD #}
    {% if successType == "register Student" %}
        <a href ="/">Back to the log in?</a>

    {% elseif successType == "add Student" %}
        <a href="/addStudent">Add another student?</a>

    {% elseif successType == "delete Student" %}
        <a href="/removeStudent">delete another student?</a>

    {% elseif successType == "update Student" %}
        <a href="/updateStudent">update another student?</a>

    <!--=====================-->

    {% elseif successType == "add Meeting" %}
        <a href="/addingMeeting">add another meeting?</a>

    {% elseif successType == "remove Meeting" %}
        <a href="/removeMeeting">delete another meeting?</a>

    {% elseif successType == "update Meeting" %}
        <a href="/updateMeeting">update another meeting?</a>
    <!--=====================-->

    {% elseif successType == "add Project" %}
        <a href="/addProject">add another meeting?</a>

    <!--=====================-->

    {% elseif successType == "add Future Meeting" %}
        <a href="/addFutureMeeting">add another future meeting?</a>

    {% elseif successType == "remove Future Meeting" %}
        <a href="/removeFutureMeeting">delete another future meeting?</a>

    {% elseif successType == "update Future Meeting" %}
        <a href="/updateFutureMeeting">delete another future meeting?</a>

    {%  endif %}
{% endblock %}
