{% block main %}

    <h1>Secretary Navigation Bar</h1>

    <nav>
        <a href="/addMeeting">Add Meeting</a>
        <a href="/updateMeeting">Update Meeting</a>
        <a href="/minutes">List the of Minutes</a>


        <a href="/addProject">Add Project</a>
        <a href="/updateProject">Update Project</a>

    </nav>


{% endblock %}