{% extends '_base.html.twig' %}

{% block main %}
    <!--This is the log out the page-->
    <div id = "logout">
        <a href = "/killSession">Log Out</a>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

    <!--This is the update meeting page-->
    <div id = "updateMeeting">
        <h1>Update Meetings</h1>

        <form action="/processUpdateMeeting" method="post">

            <span class = "form1">
            <label for="meetingId">ID:</label>
            <input type="text" title="id" name="id"  placeholder="Enter Description" autofocus />
            </span>

            <span class = "form1">
                <label for="description">Description:</label>
                <input type="text" title="description" name="description"  placeholder="Enter Description" autofocus />
            </span>

            <span class = "form2">
                <label for="time">Time:</label>
                <input type="time" title="time" name="time"  placeholder="Enter time of meeting" autofocus />
            </span>

            <span class = "form3">
                <label for="date">Date:</label>
                <input type="date" title="date" name="date"  placeholder="Enter date of meeting" autofocus />
            </span>

            <span class = "form4">
                <label for="approval">Approval:</label>
                <input type = "text" title="approval" name = "approval"  placeholder="Enter yes, no, maybe" autofocus />
            </span>

            <span class = "form5">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </span>
        </form>
    </div>

    <div id = "displayMeeting">
        {% include 'listMeeting.html.twig' %}
    </div>

{% endblock %}